.App {
    text-align: left;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
    background-color: #5c3977;
}

.App-header {
    /* background-color: #282c34; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #5c3977be;
}

.Hero-text {
    font-family: Montserrat;
    font-size: min(150px, 20vw) !important;
    font-weight: 700;
    line-height: min(120px, 20vw) !important;
    width: min-content;
    padding-top: 20px;
}